main {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.chainring {
    border-radius: 500em;
    border: 20px solid red;
    height: 100px;
    position: relative;
    width: 100px;
    z-index: 3;
}

.crank {
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 140px;
}

.crank--left {
    background: cyan;
    left: 50%;
}

.crank--right {
    background: blue;
    right: 50%;
    transform: translateY(-50%) rotate(180deg);
    z-index: -1;
}

.pedal {
    background: rgba(0,0,0,0.5);
    height: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    transform-origin: 50% 50%;
    width: 50px;
}

.crank--right .pedal {
    z-index: -2;
}
