main {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.drive-train {
    position: relative;
}

.chainring {
    border-radius: 500em;
    border: 20px solid red;
    height: 100px;
    width: 100px;
}

.chainring:after {
    background: black;
    border-radius: 5em;
    content: '';
    display: block;
    height: 15px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    z-index: 2;
}

.crank {
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 140px;
}

.crank--left {
    background: cyan;
    left: 50%;
    z-index: 1;
}

.crank--right {
    background: blue;
    right: 50%;
    transform:
        translateY(-50%)
        rotate(180deg);
    z-index: -1;
}

.pedal-pivot {
    // background: rgba(255,0,0,0.5);
    height: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 50px;
}

.crank--left .pedal-pivot {
    transform: translate(50%, -50%);
}

.crank--right .pedal-pivot {
    transform: translate(50%, -50%) rotate(180deg);
}

.pedal {
    background: rgba(0,0,0,0.5);
    border-radius: 0 0 20px 10px;
    height: 100%;
    transform-origin: 50% 50%;
    width: 100%;
}

.crank--right .pedal {
    z-index: -2;
}
