html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font: 1.6rem/1.8 Arial, sans-serif;
    margin: 0;
}

button,
input {
    font-size: 1.6rem;
}

header {
    padding: 2em;
}

.creidometer {
    float: right;
}

.derailleur {
    height: 3em;
    padding: 0.5em;
    width: 5em;
}

.gear {
    margin-right: 2em;
}

.range-speed {
    height: 2em;
    padding: 0.5em 0;
    width: 100%;
}

svg {
    max-height: 75vh;
    max-width: 100%;
}

.cranks {
    transform-origin: 389.5px 224.5px;
}

.wheel {
    transform-origin: 185px 192.5px;
}

.pedal {
    transform-origin: 50% 50%;
}


/**
 * 
 */

.sprocket {
    fill: #999999;
    stroke: #000000;
    stroke-width: 0.05;
}

.spoke {
    fill: none;
    stroke: #b3b3b3;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st0 {
    fill: #999999;
    stroke: #b3b3b3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.spokes {
    fill: none;
    stroke: #b3b3b3;
    stroke-width: 8;
}

.st2 {
    fill: #dededd;
    stroke: #000000;
    stroke-width: 0.05;
}

.wheel-disc {
    fill: #555;
}

.wheel-disc-circle {
    fill: #787878;
}

.tyre {
    fill: none;
    stroke: #000000;
    stroke-width: 7.1234;
}

.rim {
    fill: none;
    stroke: #333333;
    stroke-width: 3.9428;
}

.st5 {
    fill: none;
    stroke: #ffffff;
}

.st6 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.05;
}

.st7 {
    fill: none;
    stroke: #312bbc;
}

.st8 {
    fill: #edeef0;
    stroke: #000000;
    stroke-width: 0.05;
}

.st9 {
    fill: #1a00b5;
    stroke: #000000;
    stroke-width: 0.05;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st10 {
    fill: none;
    stroke: #332ebd;
}

.st11 {
    fill: #c2c1c1;
    stroke: #000000;
    stroke-width: 0.05;
}

.st12 {
    fill: #00222b;
    stroke: #000000;
    stroke-width: 0.1732;
}

.st13 {
    fill: #e3dedb;
    stroke: #000000;
    stroke-width: 0.1732;
}

.st14 {
    fill: #333333;
    stroke: #000000;
    stroke-width: 0.1732;
}
